#!/usr/bin/env bash


# - [ constants ] -

# https://www.atlassian.com/git/tutorials/dotfiles
export DOTFILES_REPO="FawkesOficial/dotfiles"
export DOTFILES_REPO_DEFAULT_BRANCH="neovim-2024" # [TODO]: change this after dotfiles rework
export SRC_PACKAGES_INSTALL_DIR="/opt/src"
export USER_SHELL="/bin/zsh"

export BOOT_PARTITION_SIZE_MB=1024
export SWAP_DEFAULT_SIZE_MB=4096
export SWAP_SIZE_FACTOR=1.25

# https://docs.voidlinux.org/xbps/repositories/mirrors/index.html
export VOID_REPO="https://repo-default.voidlinux.org/current" # optional for EU: https://repo-de.voidlinux.org/current 
export VOID_ARCH="x86_64" # available options are x86_64, x86_64-musl, i686, aarch64, and aarch64-musl


# - [ packages ] -

export BASE_PACKAGES=(
    base-system
    cryptsetup
    efibootmgr
    grub-x86_64-efi
    linux
    linux-firmware
    linux-headers
    lvm2
    NetworkManager
)


########## [ UNCHECKED ] ##########

# export ESSENTIAL_PACKAGES=(
#     cups
#     # cups-runit
#     dosfstools
#     efibootmgr
#     # exfat-utils
#     git
#     gvfs
#     gvfs-mtp
#     iw
#     man-db
#     man-pages
#     mtools
#     nano
#     # network-manager-applet
#     # networkmanager
#     # networkmanager-runit
#     ntfs-3g
#     # os-prober
#     pulseaudio
#     sudo
#     texinfo
#     vim
#     wget
#     # wireless_tools
#     xdg-user-dirs
#     xdg-utils
# )

# export EXTRA_PACKAGES=(
#     adwaita-icon-theme
#     ansible
#     ansible-core
#     arandr
#     bashtop
#     bat
#     calc
#     cava
#     clipmenu
#     clipnotify
#     cmatrix
#     cmus
#     cpupower
#     downgrade
#     dunst
#     fail2ban
#     feh
#     ffmpeg
#     filelight
#     firefox
#     fzf
#     gimp
#     gnome-keyring
#     gparted
#     grub-customizer
#     highlight
#     hollywood
#     htop
#     iputils
#     libnewt
#     libxft
#     libxinerama
#     lightdm
#     lightdm-slick-greeter
#     lightdm-webkit2-greeter
#     lsd
#     lxappearance
#     maim
#     materia-gtk-theme
#     most
#     mpv
#     nautilus
#     neofetch
#     neovim
#     net-tools
#     nm-connection-editor
#     nmap
#     noto-fonts
#     noto-fonts-cjk
#     noto-fonts-emoji
#     noto-fonts-extra
#     nsxiv
#     ntfysh-bin
#     pacmixer
#     pamixer
#     pavucontrol
#     pipes.sh
#     polkit
#     polkit-gnome
#     powertop
#     python
#     python-pip
#     python-pywal
#     python-pywalfox
#     ranger
#     rsync
#     screenkey
#     slock
#     starship
#     sublime-text-4
#     syncthing
#     ttf-dejavu
#     ttf-font-awesome
#     ueberzug
#     ufw
#     unrar
#     unzip
#     veracrypt
#     wireguard-tools
#     x11vnc
#     xclip
#     xcompmgr
#     xcursor-breeze
#     xdotool
#     xkeyboard-config
#     xorg-xinit
#     xsel
#     xterm
#     yt-dlp
#     zsh
# )

# export OPTIONAL_PACKAGES=(
#     code
#     discord
#     java
#     jq
#     kitty
#     minecraft-launcher
#     nodejs
#     obs-studio
#     protonvpn
#     razer
#     signal-desktop
#     spotify
#     tmux
#     vibrantlinux
#     wireshark
#     nikto
#     rpi-imager
#     virtual-machines
#     obsidian
# )